.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.contact__form {
    width: 85%;
}

.input {
    box-sizing: border-box;
    background-color: var(--base);
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    color: var(--light-base);
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.input:focus{
    background-color: rgba(226, 232, 240, 0.65);
    color: var(--dark-base);
}

textarea {
    resize: none;
}

.input__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding-top: 0.75em;
}

.input__label {
    padding-left: 1%;
}

.btn__container {
    margin-top: 1.5em;
}

.btn:disabled {
    background-color: var(--dark-base);
    color: var(--base);
    box-shadow: 0 0 3px 3px var(--base);
    cursor: not-allowed;
}

.btn:disabled:hover {
    transform: none;
    box-shadow: 0 0 3px 2px var(--base);
}

.FieldError {
    color: #e11d48;
    padding-top: 1%;
    padding-left: 1%;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .input {
        padding: 0.5em 1em;
        font-size: var(--size-base);
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
    .input {
        font-size: var(--size-lg);
    }
}