:root {
  font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  width: 70%;
  margin-inline: auto;
  max-width: 1024px;
}

.section {
  display: flex;
  height: 85dvh;
  flex: 1; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  height: 5dvh;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1.5rem;
}

.mobile-nav {
  display: none;
}

/* Hero Styles */
.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.social__link {
  display: flex;
  align-items: center;
  width: 3em;
  height: 3em;
}

.social__logo {
  fill: var(--gray-9);
  transition: ease 0.3s;
}

a:hover .social__logo {
  fill: var(--green-9);
  transition: ease 0.3s;
}

.rpi-img {
  height: 1.25rem;
  width: 1.25rem;
}

/* Bookshelf */
.book-container {
  width: 90%;
  padding-inline: 1rem;
}

.book-card-container {
  overflow: auto;
  flex: 1 0 auto;
  height: 0;
}

.book-card {
  flex: 0 0 auto;
}


/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  height: 10dvh;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.footer-email{
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
  text-decoration: unset;
  color: var(--green-8);

}

.unset {
  all: unset;
}

/* xs */
@media (max-width: 520px) {
  .container {
    width: 90%;
  }

  /* Book */
  .book-card {
    height: auto;
  } 
  .book-card-title {
    font-size: 1rem;
  } 
  .book-card-author {
    font-size: .75rem;
  } 
  .book-heading {
    text-align: center;
    font-size: 2rem;
  }
  .hiku {
    display: none;
  }

  .footer {
    height: 10dvh;
    gap: .25rem;
    padding: 1rem 0;
  }
}

/* sm */
/* @media (min-width: 768px) {} */

/* md */
@media (max-width: 1024px) {
  .desktop-nav{
      display: none;
  }
  .mobile-nav {
      display: flex;
  }

  .book-card-description {
    display: none;
  } 
}

/* lg */
/* @media (min-width: 1280px) {} */

/* xl */
/* @media (min-width: 1640px) {} */