:root {
  font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  width: 70%;
  margin-inline: auto;
  max-width: 1024px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1.5rem;
}

/* Hero Styles */
.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.social__link {
  display: flex;
  align-items: center;
  width: 3em;
  height: 3em;
}

.social__logo {
  fill: var(--gray-9);
  transition: ease 0.3s;
}

a:hover .social__logo {
  fill: var(--green-9);
  transition: ease 0.3s;
}

.rpi-img {
  height: 1.25rem;
  width: 1.25rem;
}


/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.footer-email{
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
  text-decoration: unset;
  color: var(--green-8);

}

.unset {
  all: unset;
}

/* xs */
/* @media (min-width: 520px) {} */

/* sm */
/* @media (min-width: 768px) {} */

/* md */
/* @media (min-width: 1024px) {} */

/* lg */
/* @media (min-width: 1280px) {} */

/* xl */
/* @media (min-width: 1640px) {} */